<!DOCTYPE html>
<html>
<head>
  <title>Codesf</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    '//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<!-- Le Header -->
<%= render 'layouts/container_header' %>

<div class="container">
<!-- Flash Message -->

	<% flash.each do |name, msg| %>
	  <%= content_tag(:div, class: "alert alert-info") do%>
	    <%=msg%>
	    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
	  <%end%>
	<% end %>

<%= yield %>
</div>

<!-- le Footer -->
<%= render 'layouts/footer' %>

</body>
</html>
